body {
	padding-top: 50px;
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
nav {
	background: #484646;
	height: 60px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
}
nav > a {
	font-family: 'Open Sans', sans-serif;
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    text-align: left;
    text-decoration: none;
    position: absolute;
    left: 25px;
    top: 10px;
}
nav > a > span {
	font-family: 'Open Sans', sans-serif;
    color: #F7420A;
    text-align: left;
}
nav > ul {
	position: absolute;
    right: 25px;
    top: 5px;
}
nav > ul > li {
	display: inline-block;
	padding: 0 15px;
}
nav > ul > li > a {
	color: #F7420A;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
header {
	    background-attachment: fixed;
    background-image: url(../img/shapingboards.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: 100% 50%;
    color: #F7420A;
    height: 500px;
    text-align: center;
    padding-top: 15%;
}
header h2 {
	font-size: 36px;
    margin: 0;
}
header h1 {
	font-size: 72px;
    margin: 0;
    letter-spacing: 20px;
}
header p {
	margin-top: 0;
}
header img {
	padding: 35px 0;
}
header a {
	padding: 10px 35px;
    color: #0B1016;
    background-color: #F7420A;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.about {
	text-align: center;
}
.about > h2 {
    color: #F7420A;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 0;
}
.about > img {
	margin: 15px 0;
}
.about > p {
	color: #F7420A;
    line-height: 41px;
    width: 70%;
    margin: 0 auto;
}
.about > p > span {
	font-size: 23px;
    font-weight: bold;
}
.aboutBoxes {
	color: #F7420A;
    margin: 0 auto;
    width: 80%;
}
.aboutBox {
	    float: left;
    width: 16%;
    padding: 0 4%;
    border-right: 1px solid black;
    margin: 3% 0;
}
.aboutBox i {
	color: #F7420A;
}
.fa-lightbuld-o:before {
	content: "\f0eb";
}
.fa-2x {
	font-size: 2em;
}
.fa {
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.fa-gear:before, .fa-cog:before {
	content: "\f013";
}
.fa-laptop:before {
	content: "\f109";
}
section {
	padding: 50px 0;
    text-align: center;
}
.service {
	background-image: url(../img/stock.png);
    background-size: cover;
    display: inline-block;
}
.serviceWrapper {
	width: 40%;
    margin: 0 auto;
}
.service h2 {
	color: #F7420A;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 0;
}
.service img {
	margin: 15px 0;
}
.service p {
	color: #F7420A;
    line-height: 41px;
}
.serviceBox {
	float: left;
	width: 40%;
	color: #F7420A;
    margin-left: 45px;
}
.serviceBox i {
	color: #F7420A;
}
.fa-globe:before {
    content: "\f0ac";
}
.serviceBox h3 {
	margin: 10px 0;
}
.serviceBox h6 {
	margin: 10px 0;
}
.serviceBox. left {
	margin-left: 15%;
}
.fa-search:before {
    content: "\f002";
}
.fa-clock-o:before {
    content: "\f017";
}
.fa-bar-chart-o: before, 
.fa-bar-chart: before {
	content: "\f080";
}
.contact {
	text-align: center;
    padding-bottom: 0;
}
.contact h2 {
	color: #F7420A;
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 0;
}
.contact img {
	margin: 15px 0;
}
.contact p {
	color: #F7420A;
    line-height: 41px;
    width: 53%;
    margin: 0 auto 5%;
}
.contactForm {
	background: #0B0B0B;
    color: #7D8186;
    padding: 50px 25px;
}
.contactForm input {
	background: transparent;
    border: none;
    border-bottom: 1px solid #F7420A;
    text-align: center;
    width: 60%;
    height: 30px;
    font-size: 24px;
    color: #7D8186;
}
.contactForm textarea {
	background: transparent;
    border: none;
    border-top: 1px solid #F7420A;
    border-bottom: 1px solid #F7420A;
    text-align: center;
    width: 60%;
    font-size: 24px;
    color: #7D8186;
}
.contactForm button {
	clear: both;
    border: none;
    padding: 10px 35px;
    color: #F7420A;
    background-color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
footer {
	width: 100%;
    padding: 10px 0;
    background: #000;
}
footer p {
	color: #F7420A;
    text-align: center;
}
